@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .writing {
    @apply text-sm text-center md:text-2xl lg:text-4xl font-bold mb-5;
  }
  .grid {
    @apply rounded-lg bg-blue-500;
  }
  .testing {
    @apply text-xs md:text-base;
  }
}
@layer base {
  .testing ul {
    @apply list-disc list-inside mt-1 mb-5;
  }

  .testing li {
    @apply mr-10;
  }
  .testing h3 {
    @apply font-bold mt-3;
  }
  .testing table {
    @apply border my-3;
  }
  .testing table tr td {
    @apply border-2 border-gray-500;
  }
  .testing p {
    @apply mt-2;
  }
  .vocabularyTable table {
    @apply w-11/12;
  }
  .vocabularyTable table tr {
    @apply w-full;
  }
}
